<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Clases.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ClasesConConstructores.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Condicionales-Switch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Condicionales.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>DefinicionClases/Constructores.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Hola Mundo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ImpresionVariables.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TiposDatosTamanos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UsoDePropiedades.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A350A9F1CF63FD5009DFEFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A350AAA1CF64314009DFEFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A350AB51CF69FD0009DFEFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A350AC31CF6A653009DFEFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A350ACE1CF6A694009DFEFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A350AE01CF6B03C009DFEFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A350AEE1CFA0745009DFEFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A350B001CFB6337009DFEFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A93A13F1CEBE35400BF5C55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
